<app-navbar></app-navbar>
<div class="container">
  <div class="container">
    <form>
      <div class="row">
        <div class="col">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar">
        </div>
        <div class="col">
          <button class="btn btn-outline-jesus my-2 my-sm-0" type="submit">Buscar</button>
        </div>
        <div class="col-2">
          <button type="button" class="btn" style="color: #896CC7;"><b>Publicar Vacante</b></button>
        </div>
      </div>
    </form>  
  </div>
  <hr>
  <div class ="container" style="min-height:400px;">
    <div class="container" id="titulo">
      <div style="background-color: #8E73C7;">
        <div id="star">
          <h4>MARKETING</h4>
        </div>
      </div>
    </div>
     <app-jobs></app-jobs> 
    <app-category1></app-category1>
  </div>
  <hr>
  <app-footer></app-footer>
</div> 

<!-- <app-login></app-login> -->
