#star{
    text-align: center;
    
}
h4{
     background: -webkit-linear-gradient(left top,  #8E73C7
    ,  darkgrey ); /* For Safari 5.1 to 6.0 /
  background: -o-linear-gradient(bottom right,  #8339b2
  ,  #5d277f ); / For Opera 11.1 to 12.0 /
  background: -moz-linear-gradient(bottom right,  #8339b2
  ,  #5d277f ); / For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right,  #8f4cbe
  ,  darkgrey ); 
  color: rgb(28, 1, 53);
    /* color:#452B7C; */
    font-style: bold;
}

.btn-outline-jesus{
    background-color: #8E73C7;
    margin-right: 500px;

      background: -webkit-linear-gradient(left top,  #8E73C7
    ,  darkgrey ); /* For Safari 5.1 to 6.0 /
  background: -o-linear-gradient(bottom right,  #8339b2
  ,  #5d277f ); / For Opera 11.1 to 12.0 /
  background: -moz-linear-gradient(bottom right,  #8339b2
  ,  #5d277f ); / For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right,  #8339b2
  ,  darkgrey );
}
.btn-opacidad{
    background: -webkit-linear-gradient(left top,  #b7b3c0
    ,  darkgrey ); /* For Safari 5.1 to 6.0 /
  background: -o-linear-gradient(bottom right,  #8339b2
  ,  #5d277f ); / For Opera 11.1 to 12.0 /
  background: -moz-linear-gradient(bottom right,  #8339b2
  ,  #5d277f ); / For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right,  #bfbac2
  , #8E73C7 );

  opacity: 75%;
}

.form-control{
    width:300px;
}