
<app-navbar></app-navbar>
<div class="container">
  <div class="container">
    <form>
      <div class="row">
        <div class="col">
          <input class="form-control " type="search" placeholder="Buscar" aria-label="Search">
        </div>
        <div>
          <button class="btn btn-outline-jesus my-2 my-sm-0" type="submit">Buscar</button>
        </div>
        <div class="col-2">
          
          <a routerLink="/form" routerLinkActive="active-link"> <button  type="button" class="btn btn-opacidad" style="color: #1d162c;"><b>Publicar Vacante</b></button></a>
        </div>
      </div>
    </form>  
  </div>
  <hr>
  <div class ="container" style="min-height:600px;">

      
        <div id="star">
          <h4><b>MARKETING</b></h4>
        </div>
      
   
    <!-- <app-jobs></app-jobs> -->
    <app-category1></app-category1>
  </div>
  <hr>
  <app-footer></app-footer>
</div>
