<!-- <br> -->
<div class="container">
  <div class="container">
  <form>
    <div class="row">
      <div class="col">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" [(ngModel)]="filterpost" name="filterpost">
      </div>
    </div>
  </form>
</div>  
</div>
<!-- <br> -->
  
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Ubicacion</th>
                <th scope="col">Posicion</th>
                <th scope="col">Empresa</th>
                <th scope="col"></th>
                <th scope="col"></th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cat of category1 | paginate: { itemsPerPage: 10, currentPage: page } | filter: filterpost">
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ cat.address }}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ cat.position }}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm"> {{ cat.logo }}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm"> <img src="https://img.icons8.com/pastel-glyph/24/000000/edit--v2.png"/> </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm"><img src="https://img.icons8.com/offices/24/000000/delete-sign.png"/></span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

<!-- pagination -->
<pagination-controls
 (pageChange)='page = $event' 
 previousLabel='Anterior' 
 nextLabel='Siguiente'>
</pagination-controls>