
<app-navbar></app-navbar>
<div class="">

 
  <hr class="lin" >
  <div class ="container-lg" style="min-height: 600px;">

        <app-jobs title="MARKETING" categoria="1"></app-jobs>
        <hr/>
        <br>
        <app-jobs title="PROGRAMACION" categoria="2"></app-jobs>
        <hr/>
        <br>
        <app-jobs title="CONTABILIDAD" categoria="3"></app-jobs>
        <hr/>
        <br>
        <app-jobs title="RECURSOS HUMANOS" categoria="4"></app-jobs>
      
      </div>
      <hr>
      <app-footer></app-footer>
    </div>
    

