
<app-navbar></app-navbar>
<div class="container">
  <div class="container">
    <form>
      <div class="row">
        <div class="col">
          <input class="form-control " type="search" placeholder="Buscar" aria-label="Search">
        </div>
        <!-- <div class="col-2">
          
          <a routerLink="/form" routerLinkActive="active-link"> <button  type="button" class="btn btn-opacidad" style="color: #1d162c;"><b>Publicar Vacante</b></button></a>
        </div> -->
      </div>
    </form>  
 
  <hr class="lin" >
  <div class ="container" style="min-height:600px;">

        <app-jobs title="Marketing" categoria="1"></app-jobs>
        <hr/>
        <br>
        <app-jobs title="Programming" categoria="2"></app-jobs>
        <hr/>
        <br>
        <app-jobs title="Accounting" categoria="3"></app-jobs>
        <hr/>
        <br>
        <app-jobs title="Human Resources" categoria="4"></app-jobs>
      
      </div>
      <hr>
      <app-footer></app-footer>
    </div>
    

