
<table class="table table-striped">
    <thead> 
      <tr>
        <th scope="col">Ubacacion</th>
        <th scope="col">Posicion</th>
        <th scope="col">Compañia</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Santiago</td>
        <td>Gerente De Ventas</td>
        <td>Documen RD</td>
      </tr>
      <tr>
        <td>Punta Cana</td>
        <td>Community Manager</td>
        <td>JPG Agency</td>
      </tr>
      <tr>
        <td>Santo Domingo</td>
        <td>Marketing Digital</td>
        <td>KREA</td>
      </tr>
    </tbody>
  </table>

  