<app-navbar></app-navbar>
<div class="container - ">
  <hr>
  <div class="container">
    <form>
      <div class="row">
        <div class="col">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar">
        </div>
        <div class="col">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-success">Publicar Vacante</button>
        </div>
      </div>
    </form>  
  </div>
  <hr>
  <div class ="container" style="min-height:400px;">
    <!-- <app-jobs></app-jobs> -->
    <div class="container" id="titulo">
      <div class="row align-items-center" style="background-color: #896CC7;">
        <div id="star">
          <h5><b>MARKETING</b></h5>
        </div>
      </div>
    </div>
    <app-category1></app-category1>
  </div>
  <hr>
  <app-footer></app-footer>
</div>
