.navbar-brand{
  font-family: 'Noto Sans', sans-serif;
}
h2{
  color: #381f6d;
  font-size: 50px;
}
 
.nav-link:hover{
  color: #8E73C7;
}

.nav-link{
  color: darkgrey;
  font-size: 24px;
}

ul{
  float:left;
}
li{
  margin-left: 30px;
}

/* nav{
    background: -webkit-linear-gradient(left top,  #8339b2
    ,  #5d277f ); /* For Safari 5.1 to 6.0 /
  background: -o-linear-gradient(bottom right,  #8339b2
  ,  #5d277f ); / For Opera 11.1 to 12.0 /
  background: -moz-linear-gradient(bottom right,  #8339b2
  ,  #5d277f ); / For Firefox 3.6 to 15 *//*
  background: linear-gradient(to bottom right,  #8339b2
  ,  #5d277f );
} */