
.brand {
  color: #381f6d;
  font-size: 38px;
  font-weight: 900;
  margin-left: 90px;
  margin-right: 70px;margin-top: 10px;
   

}
.line{
  background-color: #370961;
  margin-left: 50px;
  margin-right: 50px;
  
  
}
.line2{
  
  background-color: #370961;
  margin-left: 50px;
  margin-right: 50px;
}
.nav-link:hover{
  color: #8E73C7;
}

.nav-link{
  color: darkgrey;
  font-size: 20px;
  
  
}
.btn{
  color: #ffffff;
  background-color: rgba(110, 30, 246, 0.438);
  background: linear-gradient(to bottom right,  #360752c2
  ,  #851b7778 );
  background: -o-linear-gradient(bottom right,  #7c1bb8
  ,  #22043b );
  margin-left: 500px;

}

ul{
  float:left;
}
li{
   margin-right: 40px; 
}