<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="center-block" id="img">
        <img src="https://img.icons8.com/wired/64/000000/admin-settings-male.png"/>
      </div>  
      <div class="sidebar-heading">Administrador </div>
      <div class="list-group list-group-flush">
        <a [routerLink]="['/vacantes']" class="list-group-item list-group-item-action bg-light">Vacantes <img src="https://img.icons8.com/ios/24/000000/find-matching-job.png"/></a>
        <a [routerLink]="['/categorias']" class="list-group-item list-group-item-action bg-light">Categoria <img src="https://img.icons8.com/fluent-systems-regular/24/000000/stack.png"/></a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div> 
      <div class="container-fluid">
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
